@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }
}

@media only screen and (min-width: 1800px) {
  .container {
    max-width: 1650px;
  }
}

@media screen and (max-width: 1699px) {
  header {
    height: 90px;
  }

  .home-banner {
    min-height: calc(100vh - 180px);
  }
}
